<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Lists</string>
	<key>ordering</key>
	<array>
		<string>0AC2E574-B1AB-40D5-A2AD-A03085B0DAE8</string>
		<string>C6168583-C90B-42F6-880C-2B4272039990</string>
	</array>
	<key>uuid</key>
	<string>1142E7EE-893D-4185-A7CF-002C48E697AA</string>
</dict>
</plist>
